@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 48px;
    padding: 0;
  }
  
  .theme-toggle-icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .dark .theme-toggle-icon {
    transform: rotate(180deg);
  }